
<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/header.css">
	<link rel="stylesheet" href="../css/forCreatePj.css">
	<link rel="stylesheet" href="../css/dashboard.css">
	<title>프로젝트 생성하기</title>
</head>
<body>
<div class="container">
	<header class="navbar">

		<div class="nav-start">
			<a class="navbar-item" href="">
				<img src="/img/title.png" width="112" height="30" >
			</a>


			<a class="navbar-item">
				My Log
			</a>

			<a class="navbar-item">
				Project
			</a>

			<a class="navbar-item">
				Dashboard
			</a>
		</div>


		<div class="nav-end">
			<div class="nav-buttons">
				<a class="btn-normal">
					<Strong>Sign up</Strong>
				</a>

				<a class="btn-gray">
					<Strong>Log in</Strong>
				</a>
			</div>
		</div>

	</header>

	<!--헤더 영역 /-->

	<!--nav 영역-->

	<nav class="mynavbar ">
		<div class="navbar-items">
			<ul class="nav-tabs">
				<li><a class="navbar-item" href="">프로젝트</a></li>
				<li><a class="navbar-item" href="">북마크</a></li>
			</ul>
		</div>
	</nav>

	<!--nav 영역 /-->
	<div class="name" th:text="${project.name}">부산 글로벌 게임센터 게임공모전</div>
	<div class="reg-info">
		<div>
			<img class="poster" />
			<button class="img-button">+</button>
		</div>
		<form class = "form" action="@{project/createProject}" th:object="${project}" method="post" enctype="multipart/form-data">
			<ul>
				<li><h2>주최기관</h2>
					<input type="text" th:field="*{hostorg}" value="">
				</li>
				<h2>지원기간</h2>
				<input type="text" th:field="*{limitdate}" value="">
				</li>
				<li>
					<h2>활동분류</h2>
					<input type="text" th:field="*{category}" value="">
				</li>
				<li>
					<h2>자격요건</h2>
					<input type="text" th:field="*{qualification}" name="" value="">
				</li>
				<li>
					<h2>시상내역</h2>
					<input type="text" th:field="*{awards}" name="awards" placeholder="00만원">
				</li>
			</ul>

			<div class="btn-area">
				<input type="submit" class="btn-reg" value="프로젝트 정보 등록완료">
			</div>
		</form>

	</div>

	<div class="float-content">
		<h2 class="bottom">프로젝트명</h2>
		<div th:utext="${name}">부산 게임 공모전 프로젝트</div>
		<h2 class="bottom">함께 하는 팀원들</h2>
		<div class="member">팀원을 등록해주세요
			<a href="" class="btn-member">검색</a>
		</div>
	</div>
</div>
</body>
</html>