<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" xmlns:소="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <script src="createProject"></script>
</head>
<body>
<header id="header">
    <div class = "float-content">
        <h1 class="d-none">헤더</h1>
        <nav class="main-menu">
            <ul>
                <li><a href="">프로젝트</a></li>
                <li><a href="">북마크</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class = "container">
<div id="body">
        <h1>진행중인 프로젝트</h1>
        <ul th:each="pj:${list}"><!--Project list를 pj로 받음. 회원id에 달려있는 project? -->
            <li>
                <span>프로젝트 명</span>
                <a href="createProject.html" th:text="${pj.name}">makeProject에서 넘어옴.</a>
                <div th:?="${pj.memberId?}">+</div>
            </li>
            <li>
                <span>프로젝트 명</span>
                <a href="projectDetail.html" th:text="${pj.name}">ing 프로젝트</a>
                <div th:each="">사람불러오기(프로젝트에 조인한 인원)</div>
                <div>+</div>
            </li>
        </ul>
    </div>
    <a href="makeproject.html">프로젝트 생성하기</a>
    <div class = "container">
        <h1>지난 프로젝트</h1>
        <ul th:each="pj${list}"><!--컨트롤러에 회원의 프로젝트 불러오는 list만들기 DB에 있는거를 동적으로 나오게 어떻게? -->
            <li>
                <span>프로젝트 명</span>
                <a th:href="@{project(id=${pj.id})}">가져오기</a>
                <div>
            </li>
            <li>
                <span>프로젝트 명</span>
                <a href="">가져오기</a>
                사람1, 사람2, 사람3...
            </li>
            <li>
                <span>프로젝트 명</span>
                <a href="">가져오기</a>
                사람1, 사람2, 사람3...
            </li>
        </ul>
    </div>
</div>


</body>



</html>