<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <script src="createProject"></script>
</head>
<body>
	<header id="header">
		<div class = "float-content">
			<h1 class="d-none">헤더</h1>
			<nav class="main-menu">
				<ul>
				<li><a href="">프로젝트</a></li>
				<li><a href="">북마크</a></li>	
				</ul>
			</nav>
		</div>
	</header>
	
	<div id="body">
		<div class = "container">
			<h1>진행중인 프로젝트</h1>
			
			<div>진행중인 프로젝트가 없어요!<br />
			프로젝트를 생성해보세요.</div>
		</div>
		<a href="makeproject.html">프로젝트 생성하기</a>
		<div class = "container">
			<h1>지난 프로젝트</h1>
			
			<div>프로젝트가 없어요!<br />
			프로젝트를 진행해보세요.</div>
		</div>
	</div>


</body>



</html>