<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/dashBoard.css">
  <link rel="stylesheet" href="/css/modal.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CrossIt</title>
</head>
<body>

<div class="container">

  <!--헤더 영역-->
  <header class="navbar">

    <div class="nav-start">
      <a class="navbar-item" href="">
        <img src="/img/title.png" width="112" height="30" >
      </a>


      <a class="navbar-item">
        My Log
      </a>

      <a class="navbar-item">
        Project
      </a>

      <a class="navbar-item">
        Dashboard
      </a>
    </div>


    <div class="nav-end">
      <div class="nav-buttons">
        <a class="btn-normal">
          <Strong>Sign up</Strong>
        </a>

        <a class="btn-gray">
          <Strong>Log in</Strong>
        </a>
      </div>
    </div>

  </header>

  <!--헤더 영역 /-->

  <!--nav 영역-->

  <nav class="mynavbar ">
    <div class="navbar-items">
      <ul class="nav-tabs">
        <li><a class="navbar-item" href="">프로젝트</a></li>
        <li><a class="navbar-item" href="">북마크</a></li>
      </ul>
    </div>
  </nav>

  <!--nav 영역 /-->

  <!--컨테이너 영역-->
  <div class="card-container">

    <div class="mycard">
      <div class="ingProg">진행중인 프로젝트</div>


      <div class="prjCard">
        <div class="prjList">
          <p class="prjTitle">프로젝트 명</p>
          <p class="prjTitle">부산 게임 공모전 프로젝트</p>
        </div>
      </div>



      <!-- 만약에 프로젝트가 하나도 없으면 여기 주석 해제 + 위에 prjCard 없이 사용하면 됨
          <div class="noProg">
              <span>
                  진행중인 프로젝트가 없어요!<br/>
                  프로젝트를 생성해보세요.
              </span>
          </div>
      -->

      <div class="createBtn">
        <a href="#" id="open" class="btn">프로젝트 생성하기</a>
      </div>


      <div class="card-container">

        <div class="mycard2">
          <div class="ingProg">지난 프로젝트</div>

          <div class="noProg">
                        <span>
                            프로젝트가 없어요!<br/>
                              프로젝트를 진행해보세요.
                        </span>
          </div>
        </div>
      </div>


    </div>
  </div>
  <!--컨테이너 영역/-->

  <!--모달 영역 -->
  <div class="modal hidden">
    <div class="modal-overlay"></div>
    <div class="modal-content ">
      <form th:action="@{/project/makeproject}" th:object="${project}" method="post" enctype="multipart/form-data">
        <div class="form-control">
          <label for="prjName">프로젝트 이름</label>
          <input type="text" th:field="*{name}" placeholder="프로젝트 이름을 입력하세요">
        </div>
        <div class="form-control">
          <label for="count">인원 (선택) </label>
          <input type="number" min="1" max="30" th:field="*{count}">
        </div>
        <div class="form-control">
          <label for="intro">소개</label>
          <input class="message"type="text" id="message" th:field="*{introduce}" placeholder="소개를 입력해주세요" class="message">
        </div>
        <div class="form-control">
          <button class="btn-write subBtn" type="submit" value="create project"> 프로젝트 만들기</button>
        </div>
      </form>
      <button class="closeBtn">X</button>
    </div>
  </div>


  <script>
    const openBtn = document.getElementById("open");
    const modal = document.querySelector(".modal");
    const overlay =modal.querySelector(".modal-overlay");
    const closeBtn = modal.querySelector(".closeBtn");
    const openModal = ()=>{
      modal.classList.remove("hidden");
    }

    const closeModal=()=>{
      modal.classList.add("hidden");
    }
    overlay.addEventListener("click",closeModal);
    closeBtn.addEventListener("click",closeModal);
    openBtn.addEventListener("click",openModal);
  </script>


</div>
</body>
</html>