<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/inc.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/myLog.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <title>MyLog</title>

  <script>


  </script>
</head>
<body>

<div class="card-list-con container">

  <!-- 헤더-->
  <div th:replace="inc/header::hd"> </div>

  <!--유저 프로필 영역 -->
  <section class="section">
    <form th:action="@{/admin/modify}" th:object="${member}" method="post">
      <figure class="image is-128x128">
        <img class="is-rounded" th:src="*{profileImage}">
      </figure>

      <div class="user-profile">
        <ul>

            <li class="title is-4 is spaced" th:text="*{nickname}">Minchocho</li>
            <input class="inputSt" type="text" placeholder="소개를 입력해주세요" th:field="*{introduction}">
            <span class="location">
              <i class="fas fa-map-marker-alt mr-2"></i>
              <input class="inputSt" type="text" placeholder="지역" th:field="*{location}" >
            </span>
            <input class="inputSt" type="text" placeholder="contact" th:field="*{contact}">
          <button class="button is-info is-light is-inverted is-small mt-2" type="submit">수정 완료</button>
        </ul>
      </div>
    </form>
  </section>


  <!--유저 프로필 영역 end -->

  <div class="category">

    <div class="tabs ">
      <ul>
        <li class="is-active"><a>글</a></li>
        <li><a>작업물</a></li>
        <li><a>소개</a></li>
        <li><a>정보</a></li>
      </ul>
    </div>
  </div>


  <section class="section contents">

    <!--태그 목록-->
    <section class="tag-list">
      <p class="mt-6">태그 목록</p>
      <hr class="mt-2" width="100px">
      <span class="tagList">
                <p class="mr-2"> 전체 보기 </p>
                <p>(20)</p>
            </span>
    </section>

    <!--태그 목록 end-->



    <section>
      <!--검색-->



      <!-- Image -->
      <section class="hero is-small">

        <div class="searchtags">
          <div class="search-form search">
            <p class="control has-icons-left">
              <input class="input is-hovered is-small" type="text" placeholder="검색어를 입력하세요">
              <span class="icon is-left">
            <i class="fas fa-search" aria-hidden="true"></i>
            </span>
            </p>
            <a href="/board/write"><button class="btn-write button is-rounded">글쓰기</button></a>
          </div>


        </div>

        <div class="hero-body">
          <div class="container">
            <div class="columns mr-0">
              <div class="column is-8 is-offset-1">
                <figure class="image is-16by9">
                  <img src="/img/index.png" alt="">
                </figure>
              </div>
            </div>

            <section class="section">
              <div class="columns">
                <div class="column is-8 is-offset-1">
                  <div class="content is-medium">
                    <h1 class="title is-3">Getting Started</h1>
                    <p>This is a starter template for creating a beautiful, customizable blog with minimal
                      effort. You’ll only have to change a few settings and you’re ready to go. As with all Jigsaw sites,
                      configuration settings can be found in config</p>
                    <h2 class="subtitle is-6">December 25, 2018</h2>
                  </div>
                </div>
              </div>
            </section>

            <div class="is-divider"></div>


          </div>
        </div>
      </section>

    </section>




  </section>





  </section>

</div>
<script src="/scripts/update.js"></script>
</body>
</html>
