<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/myLog.css">
  <link rel="stylesheet" href="/css/common.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CrossIt</title>
</head>
<body>

<div class="container">

  <!--헤더 영역-->
  <header class="navbar">

    <div class="nav-start">
      <a class="navbar-item" href="">
        <img src="/img/title.png" width="112" height="30" >
      </a>


      <a class="navbar-item">
        My Log
      </a>

      <a class="navbar-item">
        Project
      </a>

      <a class="navbar-item">
        Dashboard
      </a>
    </div>


    <div class="nav-end">
      <div class="nav-buttons">
        <a class="btn-normal">
          <Strong>Sign up</Strong>
        </a>

        <a class="btn-gray">
          <Strong>Log in</Strong>
        </a>
      </div>
    </div>

  </header>

  <!--헤더 영역 /-->



  <!--유저 프로필 영역 -->
  <section class="user-profile">

    <figure>
      <img class="user-avatar" src="/img/user-avatar.svg" alt="프로필사진">
    </figure>

    <div class="user-profile-text">
      <ul>
        <ul class="log_btn">
          <li class="title">Minchocho</li>
          <button class="btn" id="open">팀원신청</button>
          <button class="btn">follow</button>
        </ul>
        <li class="subtitle">그래픽 디자인</li>
        <li class="subtitle" >주니어 UI디자이너 민초초입니다</li>
        <span class="smallText align">
                                  <img class="mini-icon" src="/img/location.svg"></i>
          <li class="">Seoul, Korea</li>
                              </span>

        <span class="smallText align">
                                    <img class="mini-icon" src="/img/contact.svg"></i>
          <li class="smallText" >Contact : oowwo@gmail.com</li>
                              </span>

        <button class="btn-edit">수정</button>
      </ul>
    </div>
  </section>
  <!--유저 프로필 영역 end -->



  <!--글 카테고리 -->

  <div class="category">
    <div class="tabs ">
      <ul>
        <li class="is-active"><a>글</a></li>
        <li><a>작업물</a></li>
        <li><a>소개</a></li>
        <li><a>정보</a></li>
      </ul>
    </div>
  </div>

  <!--글 카테고리 /-->


  <!--컨텐츠 부분-->

  <section class="contents">

    <!--태그 목록-->
    <section class="tag-list">
      <p class="tagLine">태그 목록</p>

      <span class="tagList">
                            <p class=""> 전체 보기 </p>
                            <p>(20)</p>
                        </span>
    </section>
    <!--태그 목록 end-->


    <!--글 섹션-->
    <section class="hero">

      <div class="top">
        <div class="searchtags">
          <img class="mini-icon" src="/img/search.svg"></i>
          <input class="input-search" type="text" placeholder="검색어를 입력하세요">
        </div>
        <div class="write">
          <button class="btn-write">글쓰기</button>
        </div>

      </div>

      <!--콘텐츠 영역 -->
      <div class="hero-body">

        <figure class="content-image">
          <img src="/img/index.png" alt="">
        </figure>

        <div class="card-desc">
          <div class="content">
            <h1 class="title">Getting Started</h1>

            <p class="content">
              This is a starter template for creating a beautiful, customizable blog with minimal
              effort. You’ll only have to change a few settings and you’re ready to go. As with all Jigsaw sites,
              configuration settings can be found in config
            </p>

            <h2 class="subtitle">December 25, 2018</h2>
          </div>
        </div>
      </div>

      <div class="hero-body">

        <figure class="content-image">
          <img src="/img/index.png" alt="">
        </figure>

        <div class="card-desc">
          <div class="content">
            <h1 class="title">Getting Started</h1>

            <p class="content">
              This is a starter template for creating a beautiful, customizable blog with minimal
              effort. You’ll only have to change a few settings and you’re ready to go. As with all Jigsaw sites,
              configuration settings can be found in config
            </p>

            <h2 class="subtitle">December 25, 2018</h2>
          </div>
        </div>
      </div>

    </section>
    <!--글 섹션 end-->
  </section>
  <!--컨텐츠 부분 /-->


  <!--모달 창-->

  <div class="modal hidden">
    <div class="modal-overlay"></div>
    <div class="modal-content ">
      <form action="" id="form" class="form">
        <h2 class="modal-title"> Minchocho 님께 팀요청을 보내보세요!</h2>
        <div class="form-control">
          <label for="username">닉네임</label>
          <input type="text" id="username" placeholder="닉네임을 입력해주세요">
        </div>
        <div class="form-control">
          <label for="username">연락처(선택)</label>
          <input type="text" placeholder="연락처를 입력해주세요">
        </div>
        <div class="form-control">
          <label for="username">메세지</label>
          <input class="message" type="text" placeholder="메세지를 입력해주세요" >
        </div>
        <div class="form-control">
          <button class="btn-write subBtn" type="submit">전송하기</button>
        </div>
      </form>
      <button class="closeBtn">X</button>
    </div>
  </div>

  <script>
    const openBtn = document.getElementById("open");
    const modal = document.querySelector(".modal");
    const overlay =modal.querySelector(".modal-overlay");
    const closeBtn = modal.querySelector(".closeBtn");
    const openModal = ()=>{
      modal.classList.remove("hidden");
    }

    const closeModal=()=>{
      modal.classList.add("hidden");
    }
    overlay.addEventListener("click",closeModal);
    closeBtn.addEventListener("click",closeModal);
    openBtn.addEventListener("click",openModal);
  </script>

</div>
</body>
</html>