<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <th:block th:include="layout/fragment/head :: head"></th:block>
  <link rel="stylesheet" href="/css/myLog.css">
  <link rel="stylesheet" href="/css/index.css">

</head>

<body>

<div class="container">

  <header th:replace="layout/fragment/header :: header"></header>

  <div th:if="${message != null}" class="alert alert-success" role="alert">
    <span th:text="${message}">메시지</span>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!--유저 프로필 영역 -->
  <section class="user-profile">
    <figure>
      <svg th:if="${#strings.isEmpty(member?.profileImage)}" th:data-jdenticon-value="${#authentication.name}"
           width="120" height="120" class="user-avatar"></svg>
      <img th:if="${!#strings.isEmpty(member.profileImage)}" class="user-avatar"
           th:src="${member.profileImage}"
           width="125" height="125"/>
    </figure>

    <div class="user-profile-text">
      <ul>
        <ul class="log_btn">
          <li class="title" th:text="${member.nickname}">Minchocho</li>
          <button class="btn" id="open" th:if="${!isOwner}">팀원신청</button>
          <button class="btn" th:if="${!isOwner}">follow</button>
        </ul>

        <li class="subtitle" th:if="${member.job == 0}">개발자</li>
        <li class="subtitle" th:if="${member.job == 1}">디자이너</li>
        <li class="subtitle" th:if="${member.job == 2}">기획자</li>

        <li class="subtitle" th:text="*{member.introduction}?: '소개글을 작성해주세요.'">주니어 UI디자이너 민초초입니다</li>
        <span class="smallText align">
            <img class="mini-icon" src="/img/location.svg"/>
          <li th:text="*{member.location}?: '사시는 지역을 설정해주세요.'">Seoul, Korea</li>
        </span>

        <span class="smallText align">
          <img class="mini-icon" src="/img/contact.svg"/>
          <li class="smallText" th:text="*{member.contact}?: '연락처를 입력해 주세요.'">Contact : oowwo@gmail.com</li>
        </span>

        <span class="smallText align" th:if="${isOwner || member.emailVerified}">
          <span><i class="fa fa-calendar-o mini-icon"></i></span>
          <span th:if="${isOwner && !member.emailVerified}">
              <a href="#" th:href="@{'/checkemail?email=' + ${member.email}}">가입을 완료하려면 이메일을 확인하세요.</a>
            </span>
          <span th:text="${#temporals.format(member.joinedAt, 'yyyy년 M월 가입')}"></span>
        </span>

        <a class="btn-edit" th:if="${isOwner}" th:href="@{/settings/profile}">수정</a>

      </ul>
    </div>
  </section>
  <!--유저 프로필 영역 end -->


  <!--글 카테고리 -->

  <div class="category">
    <div class="tabs ">
      <ul>
        <li class="is-active"><a>글</a></li>
        <li><a>작업물</a></li>
        <li><a>소개</a></li>
        <li><a>정보</a></li>
      </ul>
    </div>
  </div>

  <!--글 카테고리 /-->


  <!--컨텐츠 부분-->

  <section class="contents">

    <!--태그 목록-->
    <section class="tag-list">
      <p class="tagLine">태그 목록</p>

      <span class="tagList">
                            <p class=""> 전체 보기 </p>
                            <p th:text="'(' + ${#lists.size(boardList)} + ')'">(20)</p>
                        </span>
    </section>
    <!--태그 목록 end-->

    <!--글 섹션-->
    <section class="hero">
      <div class="top">
        <div class="searchtags">
          <img class="mini-icon" src="/img/search.svg"></i>
          <input class="input-search" type="text" placeholder="검색어를 입력하세요">
        </div>
        <div class="write">
          <a class="btn-write" th:href="@{/board/write}">글쓰기</a>
        </div>

      </div>

      <ul class="card-list">
        <li class="card-item" th:if="${not #lists.isEmpty( boardList )}" th:each="board : ${boardList}">
          <figure class="card-image">
            <svg th:if="${#strings.isEmpty(board?.thumbnail)}" th:data-jdenticon-value="${board.title}"
                 width="150" height="150" class="jdenticon-svg"></svg>
            <img th:if="${!#strings.isEmpty(board.thumbnail)}"
                 th:src="@{'/upload/' + ${board.insertTimeFormat} + '/' + ${board.thumbnail}}" class="thumbnail">
          </figure>
          <div class="card-desc">
            <div class="media-content">
              <a class="title" th:href="@{'/board/view?id=' + ${board.id}}" th:text="${board.title}"></a>
              <div class="description">
                <div class="content" th:text="${board.content}"></div>
                <p class="content date" th:text="${#strings.substring(board.insertTime,0,10)}"></p>
              </div>
              <hr class="line">
              <div class="writer">
                <figure class="profile-image">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                     th:href="@{'/admin/mylog/' + ${board.writer}}">
                    <svg class="profile-image-user" th:if="${#strings.isEmpty(board.writerProfile)}"
                         th:data-jdenticon-value="${board.writer}"
                         width="40" height="40"></svg>
                    <img class="profile-image-user" th:if="${!#strings.isEmpty(board.writerProfile)}"
                         th:src="${board.writerProfile}"/>
                  </a>
                </figure>
                <!--              <p class="nickname" th:text="${board.writer}"></p>-->
                <a class="nickname" th:href="@{'/admin/mylog/' + ${board.writer}}" th:text="${board.writer}"></a>

              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <!--글 섹션 end-->
  </section>
  <!--컨텐츠 부분 /-->


  <!--모달 창-->


  <form th:action="@{'/request-team/' + ${member.nickname}}" th:object="${team}" method="post">
    <div class="modal hidden">
      <input type="hidden" th:name="*{sender}" th:value="${member.nickname}">
      <input type="hidden" th:name="*{requestor}" th:value="${#authentication.name}">
      <div class="modal-overlay"></div>
      <div class="modal-content ">
        <form action="" id="form" class="form">
          <h2 class="modal-title" th:field="*{sender}" th:text="${member.nickname} + '님에게 팀요청을 보내보세요!'"> Minchocho 님께
            팀요청을 보내보세요!</h2>
          <div class="form-control">
            <label for="username">닉네임</label>
            <div id="username" th:text="${#authentication.name}" th:field="*{requestor}">
            </div>
            <div class="form-control">
              <label for="username">연락처(선택)</label>
              <input type="text" placeholder="연락처를 입력해주세요" th:field="*{contact}">
            </div>
            <div class="form-control">
              <label for="username">메세지</label>
              <input class="message" type="text" placeholder="메세지를 입력해주세요" th:field="*{message}">
            </div>
            <div class="form-control">
              <button class="btn-write subBtn" type="submit">전송하기</button>
            </div>
        </form>
        <button class="closeBtn">X</button>
      </div>
    </div>
  </form>

  <script th:replace="layout/fragment/dropdown :: dropDown"></script>

  <script>

    const openBtn = document.getElementById("open");
    const modal = document.querySelector(".modal");
    const overlay = modal.querySelector(".modal-overlay");
    const closeBtn = modal.querySelector(".closeBtn");
    const openModal = () => {
      modal.classList.remove("hidden");
    }

    const closeModal = () => {
      modal.classList.add("hidden");
    }
    overlay.addEventListener("click", closeModal);
    closeBtn.addEventListener("click", closeModal);
    openBtn.addEventListener("click", openModal);
  </script>

</div>
</body>
</html>
