<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="layout/fragment/head :: head"></th:block>
  <link rel="stylesheet" href="/css/article_detail.css">
</head>

<body>

<div class="container">
  <header th:replace="layout/fragment/header :: header"></header>
  <div class="total-con">

    <form class="form-horizontal form-view" th:object="${board}">
      <div class="con-test">
        <div class="article-con">
          <div class="article-container">
            <p class="title" th:if="${board.category == 0}" th:text="자랑하기"></p>
            <p class="title" th:if="${board.category == 1}" th:text="Today I learn"></p>
            <p class="title" th:if="${board.category == 2}" th:text="프로젝트 같이해요"></p>
            <p class="title" th:if="${board.category == 3}" th:text="기타"></p>
            <p class="subtitle" th:text="*{title}">[게임 공모전] 팀원모집합니다. </p>

            <div class="article-profile">
              <figure>
                <img class="user-avatar" src="/img/user-avatar.svg" alt="프로필사진">
              </figure>
              <p class="writer" th:text="*{writer}">펭귄킹</p>
            </div>

            <p class="article-date" th:text="*{#temporals.format( insertTime, 'yyyy년 MM월 dd일' )}">2021년 6월 26일</p>
            <p class="tagLine"></p>


            <div class="article-inside-con" th:text="*{content}">
              내용
            </div>

            <div th:if="${not #lists.isEmpty( fileList )}" class="form-group">
              <label class="col-sm-2 control-label">File</label>
              <div class="col-sm-10">
                <div class="form-control file_list">
                  <a th:each="row, status : ${fileList}" th:href="@{/board/download( id=${row.id} )}">
                    <i class="fa fa-file-o" aria-hidden="true"></i>
                    [[ ${row.originalName} ]]
                  </a>
                </div>
              </div>
            </div>

            <div class="btn_wrap text-center" th:object="${params}">
              <a th:href="|@{/board/list}*{makeQueryString(currentPageNo)}|"
                 class="btn btn-default waves-effect waves-light">뒤로가기</a>
              <a th:href="|@{/board/write}*{makeQueryString(currentPageNo)}&id=${board.id}|"
                 class="btn btn-primary waves-effect waves-light">수정하기</a>
              <button type="button" class="btn btn-danger waves-effect waves-light"
                      th:onclick="deleteBoard([[ ${board.id} ]], [[ *{makeQueryString(currentPageNo)} ]])">삭제하기
              </button>
            </div>


            <!--            TODO 조회수 -->


            <!--유저 프로필 영역-->
            <section class="user-profile">
              <figure>
                <svg th:if="${#strings.isEmpty(writer?.profileImage)}" th:data-jdenticon-value="${writer.nickname}"
                     width="40" height="40"></svg>
                <img th:if="${!#strings.isEmpty(writer?.profileImage)}" th:src="${writer.profileImage}"
                     width="40" height="40"/>
              </figure>

              <div class="user-profile-text">
                <ul>
                  <li class="subtitle" th:text="${writer.nickname}">펭귄킹</li>
                  <li class="writer" th:text="${writer.introduction}">디자이너 구인중인 개발자 킹펭귄</li>
                </ul>

              </div>

            </section>
            <!--유저 프로필 영역 /-->

          </div>
        </div>
        <!--글 컨테이너 /-->
      </div>
    </form>
  </div>
</div>

<script th:src="@{/scripts/common.js}"></script>
<script th:src="@{/scripts/jquery.min.js}"></script>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*<![CDATA[*/

    function deleteBoard(id, queryString) {

      if (confirm(id + "번 게시글을 삭제할까요?")) {
        var uri = /*[[ @{/board/delete} ]]*/;
        var html = "";

        html += '<form name="dataForm" action="' + uri + '" method="post">';
        html += '<input type="hidden" name="id" value="' + id + '" />';

        /*[- 쿼리 스트링을 오브젝트 형태로 변환 -]*/
        queryString = new URLSearchParams(queryString);
        queryString.forEach(function (value, key) {
          if (isEmpty(value) == false) {
            html += '<input type="hidden" name="' + key + '" value="' + value + '" />';
          }
        });

        html += '</form>';

        $("body").append(html);
        document.dataForm.submit();
      }
    }

    /*[- end of function -]*/

    function openModal(id, writer, content) {
      console.log(id);

      $("#commentModal").modal("toggle");

      document.getElementById("modalWriter").value = writer;
      document.getElementById("modalContent").value = content;

      document.getElementById("btnCommentUpdate").setAttribute("onclick", "updateComment(" + id + ")");
      document.getElementById("btnCommentDelete").setAttribute("onclick", "deleteComment(" + id + ")");
    }

    function insertComment(boardId) {

      var content = document.getElementById("content");
      if (isEmpty(content.value) == true) {
        content.setAttribute("placeholder", "댓글을 입력해 주세요.");
        content.focus();
        return false;
      }

      var uri = /*[[ @{/comments} ]]*/;
      var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "POST"};
      var params = {"boardId": boardId, "content": content.value, "writer": "관리자"};

      $.ajax({
        url: uri,
        type: "POST",
        headers: headers,
        dataType: "json",
        data: JSON.stringify(params),
        success: function (response) {
          if (response.result == false) {
            alert("댓글 등록에 실패하였습니다.");
            return false;
          }

          printCommentList();
          content.value = "";
        },
        error: function (xhr, status, error) {
          alert("에러가 발생하였습니다.");
          return false;
        }
      });
    }


    /*]]>*/


    function updateComment(id) {

      var writer = document.getElementById("modalWriter");
      var content = document.getElementById("modalContent");


      var uri = /*[[ @{/comments/} ]]*/ +id;
      console.log(uri);
      var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "PATCH"};
      var params = {"id": id, "writer": writer.value, "content": content.value};

      $.ajax({
        url: uri,
        type: "PATCH",
        headers: headers,
        dataType: "json",
        data: JSON.stringify(params),
        success: function (response) {
          if (response.result == false) {
            alert("댓글 수정에 실패하였습니다.");
            return false;
          }

          printCommentList();
          $("#commentModal").modal("hide");
        },
        error: function (xhr, status, error) {
          alert("에러가 발생하였습니다.");
          return false;
        }
      });
    }

    $(function () {
      printCommentList();
    });

    function printCommentList() {

      var uri = /*[[ @{/comments/} + ${board.id} ]]*/;

      $.get(uri, function (response) {

        var commentsHtml = "";

        $(response.commentList).each(function (id, comment) {
          commentsHtml += `
								<li>
									<span class="name">${comment.writer}</span>
									<span class="desc">${comment.content}</span>
									<span class="time">${moment(comment.insertTime).format('YYYY-MM-DD HH:mm:ss')}</span>
									<button type="button" onclick="openModal(${comment.id}, '${comment.writer}', '${comment.content}' )" class="btn btn-xs btn-circle"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></button>
								</li>
							`;
        });

        $(".notice-list").html(commentsHtml);

      }, "json");
    }

    /*[- end of function -]*/

    function deleteComment(id) {

      if (!confirm('댓글을 삭제하시겠어요?')) {
        return false;
      }

      var uri = [[@{/comments/
    } ]]
      +id;
      var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "DELETE"};

      $.ajax({
        url: uri,
        type: "DELETE",
        headers: headers,
        dataType: "json",
        success: function (response) {
          if (response.result == false) {
            alert("댓글 삭제에 실패하였습니다.");
            return false;
          }

          printCommentList();
          $("#commentModal").modal("hide");
        },
        error: function (xhr, status, error) {
          alert("에러가 발생하였습니다.");
          return false;
        }
      });
    }

    /*[- end of function -]*/

    /*]]>*/
  </script>
</th:block>

</body>

</html>
