<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/css/signup.css">
  <title>CrossIT</title>
</head>
<div class="container">


  <!--HEADER 영역 -->
  <div class="card-list-con">
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="">
            <img src="/img/title.png" width="112" height="28">
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              My Log
            </a>

            <a class="navbar-item">
              Project
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Dashboard
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Jobs
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
  </div>
  <!--HEADER 영역 -->
  <body>


  <div class="containers">
    <form th:action="@{/register}" th:object="${member}" method="post">
      <h2>회원가입</h2>
      <div class="form-control">
        <label for="username">닉네임</label>
        <input type="text" id="username" placeholder="닉네임을 입력해주세요" th:fields="*{nickname}">
        <small>Error message</small>
      </div>
      <div class="form-control">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="이메일을 입력해주세요">
        <small>Error message</small>
      </div>
      <div class="form-control">
        <label for="password">password</label>
        <input type="password" id="password" placeholder="비밀번호를 입력해주세요">
        <small>Error message</small>
      </div>
      <div class="form-control">
        <label for=password2>Confirm Password</label>
        <input type="password" id="password2" placeholder="비밀번호를 확인해주세요">
        <small>Error message</small>
      </div>
      <div class="form-control">
        <a href="/login"><button class="button is-primary is-light" type="submit">가입하기</button></a>
      </div>
    </form>
  </div>



  <script src="/scripts/validation-refactor.js"></script>
  </body>

</div>
</html>