<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>로그인</title>
</head>

<body>
<div class="container">

    <div class="formPanner">
        <form method="POST" id="form" class="form">
            <h2>Welcome back ! </h2>
            <div class="form-control">
                <label for="username">닉네임</label>
                <input type="text" name="username" placeholder="usernamed">
                <small>Error message</small>
            </div>

            <div class="form-control">
                <label for="password">비밀번호</label>
                <input type="password" name="password" placeholder="Eneter password">
                <small>Error message</small>
            </div>

            <div class="form-control">
                <button type="submit">로그인</button>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me" checked>
              <label class="form-check-label" for="rememberMe" aria-describedby="rememberMeHelp">로그인 유지</label>
            </div>
        </form>
    </div>
</div>
<script th:replace="layout/fragment/validationScript :: form-validation"></script>
  
</body>

</html>
