<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="http:/localhost:8080/">
        <img src="/img/title.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/admin/myLog">
          My Log
        </a>

        <a class="navbar-item">
          Project
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Dashboard
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>

      <div sec:authorize="isAnonymous()" class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="/register">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="/login">
              Log in
            </a>
          </div>
        </div>
      </div>

      <ul sec:authorize="isAuthenticated()" class="navbar-end">


        <li class="image is-48x48 alarm">
          <a href="" th:href="@{/notification}">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
          </a>
        </li>

        <li class="image is-48x48 profile">
          <a href="" th:href="@{/profile}">프로젝트 생성</a>
        </li>

        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <svg th:if="${#strings.isEmpty(member?.profileImage)}" th:data-jdenticon-value="${#authentication.name}"
                 width="24" height="24" class="rounded border bg-light"></svg>
            <img th:if="${!#strings.isEmpty(member?.profileImage)}" th:src="${member.profileImage}"
                 width="24" height="24" class="rounded border"/>
          </a>
          <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
            <h6 class="dropdown-header">
              <span sec:authentication="name">Username</span>
            </h6>
            <a class="dropdown-item" th:href="@{'/profile/' + ${#authentication.name}}">프로필</a>
            <a class="dropdown-item" >프로젝트</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" th:href="@{'/settings/profile'}">설정</a>
            <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/user/logout}" method="post">
              <button class="dropdown-item" type="submit">로그아웃</button>
            </form>
          </div>
        </li>

      </ul>
    </div>
  </nav>
</header>

</html>
