<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header class="navbar">

  <a class="navbar-item" href="/">
    <img src="/img/title.png" width="112" height="30">
  </a>

  <div class="nav-start" sec:authorize="isAuthenticated()">

    <a class="navbar-item" th:href="@{'admin/mylog/' + ${#authentication.name}}">
      My Log
    </a>

    <a class="navbar-item">
      Project
    </a>

    <a class="navbar-item" href="/project/index">
      Dashboard
    </a>
  </div>

  <div class="nav-end" sec:authorize="isAnonymous()">
    <div class="nav-buttons">
      <a class="btn-normal" th:href="@{/register}">
        <Strong>Sign up</Strong>
      </a>

      <a class="btn-gray" th:href="@{/login}">
        <Strong>Log in</Strong>
      </a>
    </div>
  </div>

  <ul class="navbar-end" sec:authorize="isAuthenticated()">

    <li>
      <a href="" th:href="@{/notification}">
        <i class="fa fa-bell-o fa-lg" aria-hidden="true"></i>
      </a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button">
        <svg th:if="${#strings.isEmpty(member?.profileImage)}" th:data-jdenticon-value="${#authentication.name}"
             width="40" height="40"></svg>
        <img th:if="${!#strings.isEmpty(member?.profileImage)}" th:src="${member.profileImage}"
             width="40" height="40"/>
      </a>
      <div class="dropdown-menu">
        <h6 class="dropdown-header">
          <span sec:authentication="name">Username</span>
        </h6>
        <div class="dropdown-items">
          <a class="dropdown-item" th:href="@{'/profile/' + ${#authentication.name}}">프로필</a>
          <a class="dropdown-item">프로젝트</a>
          <a class="dropdown-item" href="#" th:href="@{'/settings/profile'}">설정</a>
          <form action="#" th:action="@{/logout}" method="post">
            <button class="dropdown-item" type="submit">로그아웃</button>
          </form>
        </div>
      </div>
    </li>
  </ul>

</header>

</html>
