<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/css/find_em.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<div class="container">
    <section class="find_container">
        <div class="bg" style="background-image: url('/img/bg_find_pw.svg')"></div>

        <span class="title">
            <p>이메일로 인증이 전송되었습니다.</p>
        </span>

    </section>
</div>


</body>
</html>



