
.card-list-con{
    width: 90%;
   
}

.card-list{
    display: flex;
    align-items: center;
  
}


.card-item{
    
  /* margin-bottom: 2rem;     */
  border-radius: 1em;

  margin:0 0 2em 1em;

  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em rgba(112, 111, 111, 0.411);
  position: relative;
  --border: 1px solid rgba(204, 204, 204, 0.356);
  text-decoration: none;
}


.card-image {
    height:0;
    padding-bottom: 60%;
    margin-top: 10px;
    border-radius: 1em;
    background-color: rgb(129, 129, 129);
    background-image: url('/img/index.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
 }


.card-image img{
   display: none;
}

.card-desc{
    flex: 1 1 auto;
    padding : 1em;
    /* background:rgb(255, 237, 237); */

}

.card-desc .line{
    height:1px;
    background-color: rgba(141, 141, 141, 0.432);
    border: none;
    margin-top: .5em;
    margin-bottom: .5em;
    
   
}

.date{
    color: rgb(105, 105, 105);
   padding-top: 7px;

}

.writer{
    display: flex;
}

.nickname{
    display: flex;
    align-items: center;
}


.profile-image{
    width: 3em;
    height:3em;
    border-radius: 70%;
    overflow:hidden;
    margin-right: 1em;
}

@media (min-width: 600px){
    .card-list-con{
        --overflow-x:hidden ;
    }
    .card-list{
        display: flex;
        flex-wrap:wrap;
        margin:0 -1rem;
       
    }

    .card-item{
        width: 50%;
        padding: 0 1rem;

    }
}

@media (min-width:1200px){
    .card-item{
       width:20%;
       
    }

}
