
* {
    box-sizing: border-box;
}

.body {
    background: #f5f7fa;
    min-height: 100vh;
    margin: 0;
}




.hidden{
    display: none;
}
.navbar-items{
    width: 100%;
    margin-left: auto;
    display: flex;
 
  
}

.tabbs{
    justify-content: space-between;

}

.mynavbar{
    background-color: #1b60ce38;
    min-width: 5rem;
    min-height: 4rem;
    display: block;
    margin-bottom: 1rem;
    display: flex;
    margin-top: 1rem;
}

.mynavbar div ul li {
    margin-right: 20px;
}

.containers{
    min-height: 70vh;
    width: 75%;
    margin: 0 auto;
    position: relative;
}

.mycard{

  width: 100%;
  min-height: 70vh;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-bottom: 4rem;
 
}

.ingProg{
    margin: 3rem;
}

.noProg{
display: flex;
justify-content: center;
align-items: center;
margin-top:10rem
}

.mycard2{

    width: 100%;
    min-height: 70vh;
    background: rgba(199, 199, 199, 0.171);
    border-radius: 2px;
    display: inline-block;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 4rem;

}
.createBtn{
display: flex;

position: relative;
justify-content: flex-end;
margin-top: 15rem;
margin-right:7rem;
    
}