
/*modal css*/

.modal-overlay{
    background-color: rgba(90, 90, 90, 0.082);
    width: 100%;
    height: 100%;
    position: absolute;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content{
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0 10px 20px rgba(131, 131, 131, 0.068), 0 6px 6px rgba(128, 128, 128, 0.089);
    position: relative;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    min-height: 70vh;

}

.modal-title{
    font-size: 1.1em;
    color:var(--gray);
    font-weight: 500;
}

.hidden{
    display: none;
}

.message{
    height:150px;
}

.form{
    margin-top: 3em;
}

.form-control{
    margin-top: 2em;

}

.subBtn{
    background: #b3fcda;

}

