
* {
    box-sizing: border-box;
}



/* card */

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}


.section{
    display: flex;
    margin-top: 20px;
}


.user-profile{
    margin-left: 50px;
}

.user-profile .location {
    display: flex;
   align-items: center;

}

.user-profile .i {
    margin-left: 1p;
   
}


.tag-list{
    display: inline-block;
}
.tagList{
    display: flex;
}

.search-form{
width: 100%;
}

.contents{
    
    display: flex;
}

.search{
    margin-left: 110px;
}

.search{
    display: flex;

}

.btn-write{
    margin-left: auto;
}

.inputSt{
    border: 0;
}