<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <th:block th:include="layout/fragment/head :: head"></th:block>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>

<div class="container">

  <!--헤더 영역-->
  <header th:replace="layout/fragment/header :: header"></header>

  <div class="alert" role="alert" th:if="${member != null && !member.emailVerified}">
    크로스잇에 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요
  </div>

  <!-- 중간 이미지영역 -->
  <section class="index-img">
    <img class="jumbo" src="/img/text2.svg">
    <img class="jumbo" src="/img/7 SCENE.svg">
  </section>

  <!-- 중간 이미지영역 /-->

  <!-- 콘텐츠 영역 -->

  <section class="contents">
    <!-- 카테고리 영역 -->
    <div class="category">
      <div class="dropdown">
        <button class="dropbtn"> 전체글 보기
          <img class="mini-icon" src="/img/arrow-down.svg"></i>
        </button>

        <div class="dropdown-content">
          <a href="#">개발자</a>
          <a href="#">디자이너</a>
          <a href="#">기획자</a>
          <a href="#">기타</a>
        </div>
      </div>

      <div class="tabs">
        <ul>
          <li class="is-active"><input type="button" class="tabs-btn-index" onclick="getBoardByCategory(0)" value="자랑하기"></li>
          <li> <input type="button" class="tabs-btn-index" onclick="getBoardByCategory(1)" value="Today I learn">
          </li>
          <li> <input type="button" class="tabs-btn-index" onclick="getBoardByCategory(2)" value="프로젝트 같이해요" ></li>
          <li> <input type="button" class="tabs-btn-index" onclick="getBoardByCategory(3)" value="기타" ></li>
        </ul>
      </div>
    </div>
    <!-- 카테고리 영역 /-->

    <ul class="card-list">
      <li class="card-item" th:if="${not #lists.isEmpty( boardList )}" th:each="board : ${boardList}">
        <figure class="card-image">
          <svg th:if="${#strings.isEmpty(board?.thumbnail)}" th:data-jdenticon-value="${board.title}"
               width="150" height="150" class="jdenticon-svg"></svg>
          <img th:if="${!#strings.isEmpty(board.thumbnail)}" th:src="@{'upload/' + ${board.insertTimeFormat} + '/' + ${board.thumbnail}}" class="thumbnail">
        </figure>
        <div class="card-desc">
          <div class="media-content">
            <a class="title" href="/board/view?id=${v.id}" th:text="${board.title}"></a>
            <div class="description">
              <div class="content" th:text="${board.content}"></div>
              <p class="content date" th:text="${#strings.substring(board.insertTime,0,10)}"></p>
            </div>
            <hr class="line">
            <div class="writer">
              <figure class="profile-image">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button">
                  <svg class="profile-image-user" th:if="${#strings.isEmpty(board.writerProfile)}" th:data-jdenticon-value="${board.writer}"
                       width="40" height="40"></svg>
                  <img class="profile-image-user" th:if="${!#strings.isEmpty(board.writerProfile)}" th:src="${board.writerProfile}"/>

                </a>
              </figure>
              <p class="nickname" th:text="${board.writer}"></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!--글 영역 / -->

  </section>

  <!-- 콘텐츠 영역 /-->


</div>



<script th:replace="layout/fragment/dropdown :: dropDown"></script>

<script>


  on(window, 'DOMContentLoaded', () => {
    const cardImage = qsAll('.card-image');
    const width = cardImage[0].offsetWidth;
    const height = cardImage[0].offsetHeight;

    for(const card of cardImage) {
      const jdenticonSvg = qs('.jdenticon-svg', card);
      if(jdenticonSvg){
        jdenticonSvg.style.width = `${width}`;
        jdenticonSvg.style.height = `${height}`;
      }
    }
  });


on(window, 'resize', () => {
  const cardImage = qsAll('.card-image');
  const width = cardImage[0].offsetWidth;
  const height = cardImage[0].offsetHeight;

  for(const card of cardImage) {
    const jdenticonSvg = qs('.jdenticon-svg', card);
    if(jdenticonSvg){
      jdenticonSvg.style.width = `${width}`;
      jdenticonSvg.style.height = `${height}`;
    }
  }
});



function getBoardByCategory(category) {
  const test = new XMLHttpRequest();
  test.open('GET', 'http://localhost:8080/board/category');
  test.addEventListener('load', () => {
    const result = JSON.parse(test.response);
    const cardList = document.querySelector('.card-list');
    cardList.innerHTML = '';

    console.log(result);


    const go = result.filter(v => v.category === category);

    let str = '';

    go.forEach(v => {
      str += `
           <li class="card-item">
        <figure class="card-image">`;

      if(!v.thumbnail) {
        str += `<svg data-jdenticon-value="${v.title}"
               width="150" height="150" class="jdenticon-svg"></svg>`;
      }else {
        str += `<img src="upload/${v.insertTimeFormat}/${v.thumbnail}" class="thumbnail">`
      }

      str += `
              </figure>
        <div class="card-desc">
          <div class="media-content">
            <a class="title" href="/board/view?id=${v.id}">${v.title}</a>
            <div class="description">
              <div class="content">${v.content}</div>
              <p class="content date">${v.insertTime.date.year}-${v.insertTime.date.month}-${v.insertTime.date.day}</p>
            </div>
            <hr class="line">
            <div class="writer">
              <figure class="profile-image">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button">
      `;

      const svgValue = jdenticon.toSvg(v.writer, 40);

      if(!v.writerProfile) {
        str += `
         <svg data-jdenticon-value="${v.writer}" width="40" height="40">
         ${svgValue}</svg>
        `;
      }else {
        str += `
         <img src="${v.writerProfile}"
           width="40" height="40"/>
        `;
      }
      str += `
                      </a>
              </figure>
              <p class="nickname">${v.writer}</p>
            </div>
          </div>
        </div>
      </li>
        `;

    });

    cardList.innerHTML = str;
  })
  test.send();

}


  function getBoardByJob(job) {
    const test = new XMLHttpRequest();
    test.open('GET', 'http://localhost:8080/board/category');
    test.addEventListener('load', () => {
      const result = JSON.parse(test.response);
      const cardList = document.querySelector('.card-list');
      cardList.innerHTML = '';

      console.log(result);


      const go = result.filter(v => v.category === category);

      let str = '';

      go.forEach(v => {
        str += `
           <li class="card-item">
        <figure class="card-image">`;

        if(!v.thumbnail) {
          str += `<svg data-jdenticon-value="${v.title}"
               width="150" height="150" class="jdenticon-svg"></svg>`;
        }else {
          str += `<img src="upload/${v.insertTimeFormat}/${v.thumbnail}" class="thumbnail">`
        }

        str += `
              </figure>
        <div class="card-desc">
          <div class="media-content">
            <a class="title" href="/board/view?id=${v.id}">${v.title}</a>
            <div class="description">
              <div class="content">${v.content}</div>
              <p class="content date">${v.insertTime.date.year}-${v.insertTime.date.month}-${v.insertTime.date.day}</p>
            </div>
            <hr class="line">
            <div class="writer">
              <figure class="profile-image">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button">
      `;

        const svgValue = jdenticon.toSvg(v.writer, 40);

        if(!v.writerProfile) {
          str += `
         <svg data-jdenticon-value="${v.writer}" width="40" height="40">
         ${svgValue}</svg>
        `;
        }else {
          str += `
         <img src="${v.writerProfile}"
           width="40" height="40"/>
        `;
        }
        str += `
                      </a>
              </figure>
              <p class="nickname">${v.writer}</p>
            </div>
          </div>
        </div>
      </li>
        `;

      });

      cardList.innerHTML = str;
    })
    test.send();

  }



</script>
</body>
</html>
