<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crossit.dao.MemberDao">

	<sql id="memberColums">

		id,
		email,
		password,
		nickname,
		job,
		career,
		belonging,
		profile_img,
		introduction,
		portfolio,
		register_date
		contact,
		location
	</sql>

	<insert id="signUp" parameterType="Member">
		INSERT INTO member (
		<include refid="memberColums" />
		) VALUES (
		#{id}
		, #{email}
		, #{password}
		, #{nickname}
		, #{job}
		, 0
		, 0
		, ''
		, ''
		, ''
		, NOW()
		,''
		,''
		)
	</insert>

	<update id="updateMypage" parameterType="member">
		UPDATE member
		SET introduction =#{introduction},
		contact =#{contact},
		location = #{introduction}
		WHERE id = #{id}
	</update>


	<select id="signIn" parameterType="Member" resultType="int">
		SELECT count(*) FROM member WHERE email = '${email}'

	</select>


	<select id="findMemberById" parameterType="long" resultType="int">
		SELECT
			count(*)
		FROM
			member
		WHERE
			id = ${id}
	</select>


	<select id="getMember" parameterType="Member" >
		SELECT
			count(*)
		FROM
			member
		WHERE
			nickname = ${nickname}

	</select>


	<select id="findMemberByEmail" parameterType="String" resultType="int">
		SELECT
			count(*)
		FROM
			member
		WHERE
			email = '${email}'
	</select>


</mapper>